[Desktop Entry]
Name=Banshee
Comment=Queue music, videos and podcasts as fast as you type
Exec=banshee %U
Icon=io.github.castrojo.Banshee
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=music;player;streaming;youtube;spotify;podcast;video;queue;banshee;
StartupNotify=true
SingleMainWindow=true
