[Desktop Entry]
Name=Project Banshee
Comment=Mini Mode music player inspired by the classic Banshee player
Exec=banshee
Icon=io.github.castrojo.Banshee
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=music;player;streaming;youtube;minimode;audio;banshee;
StartupNotify=true
SingleMainWindow=true
